body{
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.post{
    background-color: white;
    width: 400px;
    margin-top: 40px;
    border-radius: 10px;
    border: 2px solid grey;
    display: flex;
    flex-direction: column; 
    max-height: fit-content;
    font-family: "Roboto";
}
.header{
    display:flex; 
    padding: 10px;
    align-items: center;
}
.nombre{
    float:left;
    width:100%;
    font-size:18px;
    justify-content: center;
    
}
.nombre,.icono1{
    padding:10px;
}
.imagen{
    margin-top: 10px;
    object-fit: contain;
    width: 100%;

}
.iconos{
    display:flex;
}
.megusta,.comentario,.envio,.guardar{
    padding:4px;
    font-size:  20px;

}
.envio{
    width:100%;
}
.texto, .parrafo{
    text-align: justify;
    padding: 10px 10px 10px 10px;
    font-size: 14px;
   
}
.megusta:hover,.comentario:hover,.envio:hover,.guardar:hover{
    font-size:25px;
}
.megusta-activo{
    color:red;
}
.guardar-activo{
    color:grey;
}
.modal{
    background-color: white;
    border: 2px solid black;
    text-align: center;
    padding:20px;
}